{% extends 'layout.html' %}
{% block content %}
	<h4>Building New Patch</h4>
  <div class="border-top pt-2">
  <form method="POST" action="" >
    {{ form.hidden_tag() }}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Patch Build Id</label>
    <div class="col-sm-5">
      {{form.patch_build_id(class="form-control",value=build_id)}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Patch Name</label>
    <div class="col-sm-5">
      {{form.patch_name(class="form-control")}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Patch Description</label>
    <div class="col-sm-5">
      {{form.patch_discription(class="form-control")}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">OS Architecture</label>
    <div class="col-sm-5">
      {{form.os_type(class="form-check-input",type="radio")}}
    </div>
  </div>

  <p class="pt-3">Minimum and Maximum Build Version
  <br><small>Please mention Minimum and Maximum Build version.This makes patch to work between the mentioned Build versions.</small></p>
  <div class="form-group row">
    <div class="col-sm-6">
      {{form.min_img_build(class="form-control",placeholder="Minimum Build Version")}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      {{form.max_img_build(class="form-control",placeholder="Maximum Build Version")}}
    </div>
  </div>

  <p>Remove Files and Packages
  <br><small>List all the Files and Packages to be removed. Use colon ' : ' as a seprator.</small></p>
  <div class="form-group row">
    <div class="col-sm-6">
      {{form.remove(class="form-control")}}
    </div>
  </div>

  <p>Adding Files and Packages
    <br><small>List all the URL's of Files and Packages to be added. Use semicolon ' ; ' as a seprator.</small></p>
  <div class="form-group row">
    <div class="col-sm-6">
      {{form.add(class="form-control")}}
    </div>
  </div>

  <p>Install Script 
  <br><small>Write your custom install script.This script will be run by Firmware Update binary.
  Use semicolon ' ; ' after the end of each line.</small></p>
  <div class="form-group row">
    
    <div class="col-sm-6">
      {{form.install_script(class="form-control",placeholder="All Packages and Files will be removed and added after reboot in initramfs. Here All the operations will be done before reboot of the OS.")}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-5">
       {{form.submit(class="btn btn-primary")}}
       <a class="btn btn-warning" href="{{url_for('home')}}" role="button">Cancel</a>
    </div>
  </div>
</form>  
	
{% endblock content %}